<div class="container">
<p>container</p>
  <div class="img-moitie">
  <span>img</span>
  </div>
  <div class="white">
  <span>white</span>
  </div>
  <div class="card-search">
  <span><card-span></card-span></span>
  </div>

</div>
