<h1>new reservation</h1>
<%= simple_form_for [ @car, @reservation ] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
