.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent{
  a {
    &:hover {
      border: 1px solid black;
      border-radius: 8px;
    }
  }
}

.navbar-nav {
  margin-right: 10px ;
}
