.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(135deg, RGB(139, 198, 235) 0%, RGB(147, 166, 229) 100%);
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent{
  .nav-link {
    color: white;
    &:hover {
      border: 1px solid white;
      border-radius: 8px;
    }
  }
}

.navbar-nav {
  margin-right: 10px ;
}

// .dropdown-item {
//   background-color: white;
//   color: black;
// }
