<h1>INDEX</h1>
<%= link_to "Create", new_car_path %>

<div class="cards">
  <ul>
      <div class="card-category">
        <p>koala</p>
      </div>
  </ul>
</div>

<div class="cards">
  <ul>
    <% @cars.each do |car| %>
      <div class="card-category">
        <li><%= car.brand %></li>
      </div>
    <% end %>
  </ul>
</div>
