<div class="banner">
</div>
<div class="container">
  <h1><%= @car.brand %></h1>
  <p><%= @car.fuel %> </p>
  <p><% @car.description%></p>
  <p><strong>CHF <%= @car.price %></strong></p>

  <div class="book-now">
    <%= link_to "Booking", "#", class: "btn btn-primary" %>
   </div>
</div>
